.end {
  background-color: #131a22;
  padding: 2rem;
}

.first__end {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 1rem;
}
.common__end {
  margin: 0 auto;
}
.common__end > h5 {
  font-size: 0.6rem;
  font-weight: 600;
  color: #fffff3;
}
.common__end a {
  text-decoration: none;
  font-size: 0.5rem;
  font-weight: 400;
  color: #ddddd3;
  transition: all 200ms ease-in-out;
}
.common__end a:hover {
  border-bottom: 1px solid #ddddd3;
}
.second__end {
  cursor: pointer;
  margin: 1rem auto;
  padding: 1rem;
}
.second__end > p {
  color: #fff;
  text-align: center;
}

/* Responsive */

@media screen and (max-width: 704px) {
  .first__end {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 350px) {
  .first__end {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
