.home {
  position: relative;
  margin-top: -17rem;
  cursor: pointer;
}
.home::before {
  position: absolute;
  content: "";
  background-color: #eaeded;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.home__first {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  margin: 1rem 2.5rem;
  z-index: 21;
}
.home__heading {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0.4rem 0 0.5rem 0.8rem;
}

.home__second {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 1rem;
  margin: 1rem 2rem;
}
.home__third {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  margin: 1rem 2rem;
}


.home__fifth {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.home__fifthInside {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 1rem;
}
.home__fifth > h3 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0.4rem 0 0.5rem 0.8rem;
}
.home__sixth {
  margin: 1rem 2rem;
  padding-bottom: 1rem;
}
.home__sixth > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive */

@media screen and (max-width: 1296px) {
  .home {
    margin-top: -10rem;
  }
  .home__first {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .home__second {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .home__third {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .home__fifthInside {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 694px) {
  .home {
    margin-top: -7rem;
  }
  .home__first {
    margin: 1rem;
  }
  .home__first {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    
  }
  .home__second {
    
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .home__third {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .home__fifthInside {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 435px) {
  .home {
    margin-top: -5rem;
  }
}
