footer {
  background-color: #232f3e;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__row {
  border-color: #8d9096 !important;
}
.footer__img {
  width: 80px;
  height: 50px;
  object-fit: contain;
}
.first__footer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1rem;
  margin: 1rem auto;
}
.common__footer {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.common__footer > h3 {
  color: #fffff3;
  font-size: 1rem;
}

.footer__items {
  list-style: none;
  margin: 0.7rem;
}
.footer__items a {
  text-decoration: none;
  color: #ddddd3;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 250ms ease-in-out;
}
.footer__items a:hover {
  border-bottom: 1px solid #ddddd3;
}

.second__footer {
  margin-top: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second__firstFooter {
  display: flex;
  width: 20%;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}
.language__footer {
  display: flex;
  border: 1px solid #8d9096;
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: 50%;
  color: #ddddd3;
  align-items: center;
  justify-content: space-evenly;
}
.language__footer .MuiSvgIcon-root {
  font-size: 1rem;
}
.language__footer > p {
  font-size: 0.9rem;
}
.second__footerLinks {
  display: flex;
}

.second__footerItems {
  margin-left: 1.4rem;
  list-style: none;
}
.second__footerItems a {
  text-decoration: none;
  color: #ddddd3;
  font-size: 0.7rem;
  transition: all 250ms ease-in-out;
}
.second__footerItems a:hover {
  border-bottom: 1px solid #ddddd3;
}

/* Responsive */

@media screen and (max-width: 932px) {
  .second__footerItems {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 848px) {
  .first__footer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .second__footerLinks {
    flex-direction: column;
  }
  .language__footer {
    margin-left: 1rem;
    width: 100%;
  }
  .second__firstFooter {
    width: 30%;
  }
}

@media screen and (max-width: 653px) {
  .second__firstFooter {
    width: 50%;
  }
}

@media screen and (max-width: 350px) {
  .first__footer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .second__firstFooter {
    width: 70%;
  }
}
