.banner{
    position: relative;
    margin:0 auto;
}
.banner_first{
    position: absolute;
    background-image: linear-gradient(to top, #eaeded, transparent);
    z-index: 20;
    width:100%;
    height:100%;
}
.wrap{
    position: relative;
}
.wrap a{
    text-decoration: none;
}
.wrap a img {
    width:100%;
    height:100%;
    object-fit: cover;
}